.home_logo{
	width:411px;
	height:271px;
}
.home_good{
	width:411px;
	height:271px;
}
.home_series{
	width:411px;
	height:579px;
}
.js-equal-height{
	position:relative;
	top:0;
	left:0;
}
.push_good{
	margin:9.2% 0 0;
}
.col-md-4{
	padding:0 1.45%;
}
.row{
	margin-bottom: 2.9%;
}
.main-olive .grid .cols{
padding: 0 1.45%;
}
.brand{
	margin:0;
}
.cover{
	margin-top:-20;
	margin-left:0;
	margin-right:0;
}
.carousel .slide{
	/*width: 100%;
	margin-bottom: 2.9%;*/
}
.main-olive{
	/*width:100%;
	padding-bottom:60px;
	display:block;*/
	
}
.grid{
	/*max-width: 1440px; 
	height:411
	margin:0px 30px;
	display: block;
	border-spacing: 0;
	border-collapse: separate;"*/
			}

.header-logo {
    height: 90px;
    position: absolute;
    top: -15px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
}
.logo_header{
	position:absolute;
	left:38%;
	 top:2%
}

 .header-main-bar{
 	position: relative;
 	top:52px;
 }
 .main-bar-content{
 	width: 100%;
 	height: 79px;
 	/*margin: 0 auto*/
 }
 .icon-olive{
 	clear: both;
 	display: block;
 	margin: 0 auto;
 	height: 95px;
    padding-top: 15;
 }
 .main-olive{
 	position: relative;
 	top:75px;
 }

.carousel-inner img{
	margin：0 auto；
	width: 1398.28px;
	height:542.672px;
	overflow: hidden;
    /*vertical-align: top;*/
}
.carousel-control{
	font-size:50px;
	color: #fff;
}